
body {
  /* background-image: 
  linear-gradient(to bottom,
    #220100,
    #400102, 
    #220100)!important; */
    background: #000 url("/resources/bg1.jpg") no-repeat top center;
    background-size: cover;
    color: #fefefe; 
  
}

.neon {
  font-family: "Kaushan Script", "corsive";
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.blink {
  animation: blink 1.2s infinite;
}
@keyframes blink{
  0%    {color: #b0762b;}
  50%   {color: #dcb44a;}
  60%   {color: #dcb44a;}
  70%   {color: #dcb44a;}
  100%  {color: #b0762b;}
}
