#blackjackTable {
  background-color: rgb(11, 48, 11);
  margin: auto;
  width: 1000px;
  height: 500px;
  border: 15px solid #0c0c0c;
  border-radius: 60px;
}

#blackjackButtons {
  position: relative;
  bottom: 60px;
}

#blackjackPlayerInfo {
  color: black;
  margin-left: 15px;
  margin-top: 10px;
}

#dealerInfo {
  color: black;
  margin-left: 15px;
  margin-top: 10px;
}

#game-row {
  height: 300px;
}

.winner-text {
  font-size: 1.5rem;
  color: #F1C876;
}

.btn-row-bottom {
  position: relative;
  top: 100px;
}