.navbar {
  height: 90px;
  max-height: 90px;
}
.navbar-brand {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.navbar-brand img {
  max-height: 70px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f1c876!important;
  text-transform: uppercase!important;
  font-family: 'Coda', cursive;
  font-size: 1.4rem;
  line-height: 90px;
}
.active {
  font-weight: bold;
}
.navbar-text p {
  color: #f1c876;
  margin: 0!important;
  font-family: 'Coda', cursive;
  text-transform: uppercase!important;
  line-height: 90px;
}
.shic-nav {
background: #000000!important;
border-bottom: 6px solid;
/* border-image-source: linear-gradient(45deg, #b0762b, #dcb44a, #b0762b); */
border-image-slice: 1;
box-shadow: 2px 2px 20px 10px #00000050;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #f1c876;
  text-align: left;
  list-style: none;
  background-color: #121212;
  background-clip: padding-box;
  border: 2px solid #220100;
  border-radius: .25rem;
}
.dropdown-menu a {
  color: #f1c876!important;
}
.dropdown-item:focus, .dropdown-item:hover {
  background: #400102;
}
.dropdown-divider {
  border-top: 1px solid #f1c876;
}