#card {
  float: left;
  background-color: #0c0c0c;
  color: #f1c876;
  position: relative;
  top: 20px;
  margin-left: 10px;
  /* margin: auto; */
  width: 80px;
  height: 130px;
  border: 2px solid #f1c876;
  border-radius: 10px;
}

#card-id {
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#suit-symbol {
  margin-bottom: 0;
}

#card-name{
  font-family: 'Gravitas One', cursive;
}