.chat-messages {
  background-color: #121212;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  border-image-source: linear-gradient(45deg, #b0762b, #dcb44a, #b0762b);
  border-image-slice: 1;
  border-radius: 5px;
  min-height: 175px;
  height: 175px;
  max-height: 175px;
  color: white;
}

.chat-wrapper {
  border-radius: 5px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
  overflow: auto;
}

.rooms-card {
  background-color: #121212!important;
  color: #121212!important;
  border: 1px solid rgba(0,0,0,.125)!important;
  max-height: 211px!important;
}

.card-header {
  padding: 6px!important;
  background: linear-gradient(to bottom , #b0762b, #dcb44a);
  color: #112211;
  font-family: 'Coda', cursive;
  font-weight: bold;
}
.chat-list li {
  border-bottom: 1px solid #dcb44a;
  text-align: left;
  font-family: 'Coda', cursive;
  font-weight: bold;
}