.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
  overflow: auto;
}
.rooms-card {
  background-color: #121212!important;
  color: #121212!important;
  border: 1px solid rgba(0,0,0,.125)!important;
  max-height: 211px!important;
}
.card-header {
  padding: 6px!important;
  background: linear-gradient(to bottom , #b0762b, #dcb44a);
  color: #112211;
  font-family: 'Coda', cursive;
  font-weight: bold;
}
.chat-list li {
  border-bottom: 1px solid #dcb44a;
  text-align: left;
  font-family: 'Coda', cursive;
  font-weight: bold;
}

.minitar {
  max-width: 18px;
  max-height: 18px;
}
